<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poll - Detail</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
  </head>
  <body>
    <header></header>
    <div class="content">
      <h1>{{ question.question_text }}</h1>
  
      {% if error_message %}
        <div class="alert">
          <p><strong>{{ error_message }}</strong></p>
        </div>
      {% endif %}
  
      <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      {% for choice in question.choice_set.all %}
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
      {% endfor %}
      <input class="vote" type="submit" value="Vote">
      </form>
    </div>
  </body>
</html>

