<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Polls - Results</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
  </head>
  <body>
    <header></header>
    <div class="content">
      <h1>{{ question.question_text }}</h1>
  
      <ul>
      {% for choice in question.choice_set.all %}
          <li>{{ choice.choice_text }} <span class="badge">{{ choice.votes }} vote{{ choice.votes|pluralize }}</span></li>
      {% endfor %}
      </ul>
  
      <a class="vote" href="{% url 'polls:detail' question.id %}">Vote again?</a>
    </div>
  </body>
</html>

